/*----------Base Utilities----------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root
{
	--themePurple: #f395f5;
	--gray: #efefef;
	--themeBlue: rgba(0, 0, 110, 0.3);
}

html
{
	scroll-behavior: smooth;
}

button, 
body
{
	font-family: 'Poppins', sans-serif;
}

*
{
	margin: 0, ;
	padding: 0;
	box-sizing: border-box;
}

p
{
	font-size: 14px;
	line-height: 26px;
}

.fullContainer
{
	width: 100%;
}

.container
{
	width: 1140px;
	margin: auto;
}

section
{
	padding: 180px 0;
	position: relative;
	text-align: center;
}

/*----------The Navigation Bar----------*/

header
{
	width: 100%;
	background-color: rgba(0, 0, 110, 0.3);
	position: fixed;
	z-index: 2;
}

header .container
{
	display: flex;
	justify-content: space-between;
}

header .container .logo
{
	padding: 15px 0;
	height: 75px;
}

header .container .logo img
{
	height 100%;
}

header nav ul
{
	list-style-type: none;
}

header nav ul li
{
	display: inline-block;
}

header nav ul li a
{
	display: inline-block;
	height: 75px;
	line-height: 75px;
	padding: 0 15px;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 16px;
	color: #fff;
	transition: 0.5s;
}

header nav ul li a:hover
{
	background-color: var(--themePurple);
}

/*----------Home Section----------*/

.banner
{
	min-height: 100vh;
	width: 100%;
	background-image: url("https://github.com/maraablaah/siteimages/blob/main/Img/Banner.jpg");
	background-size: cover;
	background-attachment: fixed;
}

.banner h1
{
	margin-top: 180px;
	margin-left: 460px;
	display: inline-block;
	font-size: 3.5rem;
	color: #fff;
	text-shadow: 0 0 2px #000;
	width: 50%;
	line-height: 4.2rem;
	font-weight: 100;
	text-align: center;
}

.banner h1 span
{
	/*background-color: var(--themePurple);*/
	display: inline-block;
	line-height: 3.5rem;
	padding: 0 15px;
	font-weight: 600;
	border-radius: 5px;
}

.banner p
{
	color: #fff;
	width: 50%;
	text-shadow: 0 0 2px #000;
	margin-top: 10px;
	margin-left: 460px;
	text-align: center;
}

.banner form input
{
	background-color: var(--themeBlue);
	border: 0;
	outline: none;
	color: #fff;
	padding: 10px 15px;
	margin-top: 20px;
	font-size: 13px;
	border-radius: 3px;
	font-weight: 600;
	margin-left: 680px;
	cursor: pointer;
}

/*----------About Me Section----------*/

.sectionTitle
{
	width: 300px;
	border-bottom: 3px solid var(--themePurple);
	text-align: center;
	font-size: 2rem;
	font-weight: 200;
	margin: 0 auto 50px;
	position: relative;
	padding: 10px 0;
	text-transform: uppercase;
}

.sectionTitle::after
{
	display: inline-block;
	content: "";
	height: 15px;
	width: 15px;
	background-color: var(--themePurple);
	position: absolute;
	left: calc(50% - 10px);
	top: calc(75% - 7px);
	transform: rotate(45deg) translate(50%, 50%);
	border: 3px solid var(--themePurple);
}

#aboutmeSection .cards
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 50px;
	position: relative;
	height: 245px;
}

#aboutmeSection .cards > div
{
	width: 350px;
	background-color: var(--themeBlue);
	padding: 35px;
	color: #fff;
	text-align: center;
	border-radius: 15px;
	height: 215px;
	border: 1px solid var(--themePurple);
	transition: 0.5s;
}

#aboutmeSection .cards > div:hover
{
	width: 400px;
	margin-top: -20px;
	border-color: var(--themePurple);
	padding: 55px;
	height: auto;
}

#aboutmeSection .cards > div .title
{
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
}

#aboutmeSection .cards > div:hover .title
{
	font-size: 20px;
}

#aboutmeSection .cards > div p
{
	font-size: 14px;
	margin-top: 15px;
}

#aboutmeSection .cards > div:hover p
{
	font-size: 16px;
}

#aboutmeSection .cards > div button
{
	border: 1px solid var(--themePurple);
	outline: none;
	padding: 7px 15px;
	margin-top: 15px;
	font-size: 12px;
	background-color: rgba(0, 0, 110, 0.05);
	border-radius: 3px;
	cursor: pointer;
}

#aboutmeSection .cards > div:hover button
{
	border: 2px solid var(--themePurple);
	outline: none;
	padding: 5px 13px;
	margin-top: 13px;
	font-size: 14px;
	background-color: rgba(0, 0, 110, 0.05);
	border-radius: 3px;
	cursor: pointer;
}

#aboutmeSection .cards > div button:hover
{
	background-color: var(--themePurple);
	color: #fff;
	transition: 0.5s;
}

/*----------Prices  Section----------*/

.prices
{
	background-color: var(--themeBlue);
}

.prices .boxContainer
{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 50px;
}

.prices .boxContainer .box
{
	background-color: #fff;
	text-align: center;
	padding-bottom: 25px;
	border-radius: 5px;
	box-shadow: 0 0 3px 0 #c5c5c5;
	position: relative;
	margin-bottom: 15px;
}

/*.prices .boxContainer .box .cardsImage
{
	width: 100%;
	height: 300px;
	background-position: center;
	background-size: cover;
	position: relative;
	overflow: hidden;
	border-radius: 5px 5px 0 0;
}

.prices .boxContainer .box .cardsImage:after
{
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	filter: grayscale(100%);
	transition: 0.5s;
}*/

.prices .boxContainer .box  img
{
	max-width: 100%;
    max-height: 100%;
    display: block;
    filter: grayscale(100%);
	transition: 0.5s;
}

.prices .boxContainer .box:hover  img
{
	filter: grayscale(0%);
}

.prices .boxContainer .box .priceTitle
{
	font-size: 16px;
	margin-top: 15px;
	font-weight: 600;
	color: var(--themePurple);
}

.prices .boxContainer .box .subsCount
{
	font-size: 13px;
	font-weight: 400;
	color: #000;
	margin-top: 10px;
}
/*
.prices .boxContainer .box .subsCount span
{
	color: var(--themePurple);
}
*/

.prices .boxContainer .box button
{
	position: absolute;
	left: 50%;
	background-color: var(--themePurple);
	color: #fff;
	transform: translate(-50%);
	bottom: -15px;
	border-radius: 60px;
	padding: 7px 15px;
	border: 0;
	outline: none;
	cursor: pointer;
}

/*----------Portofolio Section----------*/

.portofolio
{
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.portofolio .videoPlayer
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
}

.portofolio .sectionTitle
{
	color: #fff;
	text-shadow: 0 0 4px #000;
	font-weight: 300;
}

.portofolio .portofolioContainer
{
	position: relative;
	background-color: var(--themeBlue);
	width: 600px;
	left: 300px;
	top: 145px;
	color: #fff;
	text-shadow: 0 0 3px #000;
	padding: 20px;
}

.portofolio .portofolioContainer h3
{
	font-size: 35px;
	font-weight: 300;

}

.portofolio .portofolioContainer p
{
	font-size: 15px;
	line-height: 20px;
	margin: 10px 0 30px;
}

.portofolio .portofolioContainer button
{
	background-color: var(--themePurple);
	border: 0;
	color: #fff;
	padding: 10px 25px;
	font-weight: bold;
	font-size: 14px;
	outline: none;
	cursor: pointer;
}

/*----------Gallery Section----------*/

.gallery
{
	height: 170vh;
	position: relative;
}

.gallery .container
{
	bottom: 180px;
}

.gallery .galleryContainer
{
	column-count: 3;
	column-gap: 20px;
}

.gallery .galleryContainer .item
{
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
}

.gallery .galleryContainer img
{
	width: 100%;
	display: block;
	transition: 0.5s;
}

.gallery .galleryContainer .title
{
	position: absolute;
	background-color: var(--themeBlue);
	color: #fff;
	padding: 5px;
	margin: 5px;
	border-right: 5px;
	font-size: 13px;
	font-weight: bold;
	opacity: 0;
	z-index: 1;
	transition: 0.5s;
}

.gallery .galleryContainer .item:hover .title
{
	opacity: 1;
}

.gallery .galleryContainer .item:hover img
{
	transform: scale(1.2);
}

/*----------Contact Section----------*/

.contact
{
	background-image: url("https://github.com/maraablaah/siteimages/blob/main/Img/contact.jpg");
	background-size: cover;
	background-attachment: fixed;
}

.contact .contactTitle
{
	font-size: 40px;
	font-weight: 200;

}

.contact .contactTitle span
{
	font-weight: 500;
}

hr.line
{
	border-top: 1px solid #000;
}

.contact button
{
	padding: 7px 15px;
	margin-top: 20px;
	border: 0;
	outline: none;
	/*background-color: var(--themePurple);*/
	border-radius: 60px;
	cursor: pointer;
	font-weight: 400;
	font-size: 16px;
}

.contact button.yesbtn
{
	background-color: var(--themePurple);
	color: #000;
	margin-right: 10px;
}

.contact button.nobtn
{
	background-color: var(--themeBlue);
	color: #fff;
	margin-left: 10px;
}

/*----------The Footer----------*/

footer
{
	background-color: #d4c6f4;
	padding: 15px 0;
	font-size: 10px;
}

footer .container
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 15px;
}

footer .title
{
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	border-bottom: 2px solid;
	margin-bottom: 30px;
	padding: 0 0 5px 0;
}

footer p
{
	margin-bottom: 5px;
}

footer .newsContainer img
{
	height: 40px;
	margin-bottom: 11px;
}

footer .newsContainer input
{
	background-color: var(--themeBlue);
	border: 1px solid;
	outline: none;
	padding: 10px 15px;
	width: 60%;
	margin-top: 10px;
	cursor: pointer;
}

footer .newsContainer button
{
	background-color: var(--themePurple);
	color: #fff;
	padding: 7px 15px;
	border: 0;
	border-radius: 60px;
	outline: none;
	cursor: pointer;
}

::placeholder
{
	color: #fff;
	opacity: 1;
}

footer .socialmediaContainer img
{
	height: 40px;
	margin-bottom: 11px;
}

